body {
    background-color: rgb(11, 211, 247)
}

h1 {
    color: green;
    font-size: 25px;
}

h2 {
    color: green;
    font-size: 20px;
}

.red-heading {
    color: red;

}

.blue-text {
    color: blue;

}

#new-font {
    font-family: fantasy, cursive, serif;
}