body {
    background-color: lightblue;
max-width: 500px;
margin:auto;

}
h1 {
    color: black;
    font-size: 25px;
}

h2 {

    color: black;
font-size: 20px;
}

    header p {
        font-weight: bold;
        font-style: italic;
        color: black;
    }
main {
    background: coral;
}
    footer {
        background: aliceblue;
        border: black solid thin;
        padding-left: 5px;
        border-radius: 8px;
    }

.red-heading {
color: red;

}
.blue-text {
    color: blue;

}
new-font {
    font-family: fantasy, cursive, serif;
}

header p {
    font-weight: bold;
    color: blue;
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
           
figure.left {
    float: right;
}

figure.border {
    background-color: lightslategray;
    border: black solid thin;
    padding: 5px;
}                    
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
            
    .btn-padding {
        padding: 25px;
        border: 10px green double;    
        border-radius: 22px;
    }


    .btn-padding:hover {
        background-color: aqua;
        border-color: white;
    }      

    .btn-margin-padding {
        margin: 25px;
        border: 15px blue;
        border-style: ridge;
        padding-left: 20px;
        padding-right: 20px;


    }

   #button-wrapper {
border: thin black solid;
display:inline-block;
background-color:cyan;
   }

   .btn-margin-padding:active{
       color: red;
    
   }
   
   aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 20%;        
}

.elf-div-border {
    display:inline-block;
    border: black 1px solid;

}

foo {
    border: 04 24 92;
}

img {
max-width: 300px;

}